/*background:    #3d85c6;
background:    -webkit-linear-gradient(#3d85c6, #073763);
background:    linear-gradient(#3d85c6, #073763);
border-radius: 5px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal 700 24px/1 "Ubuntu", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;*/

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222222;
}
.wrapper {
    background-color: #424242;
    padding: 12px;
    width: 50%;
    margin: auto;
    color: #CCCCCC;
}
.form-sub {
    padding-top: 12px;
}


